
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// FontAwesome
@import './fontawesome/scss/fontawesome';
@import './fontawesome/scss/fa-regular';
@import './fontawesome/scss/fa-light';

// Layout

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

body {
  background: $body-bg;
}
p, h1, h2, h3, h4, h5, h6, span, a, div, button {
    font-family: Raleway;
    -webkit-font-smoothing: antialiased;
}
.app_inner {
    display: block;
    margin-left: 0px;
    padding: 20px;
    position: relative;
    margin-top: $mobile_nav_height;
}
@media (min-width: $go_mobile) {
  .app_inner {
      margin-left: $left_nav_width!important;
      margin-top: 0px;
  }
}

mt {
    margin-top: 40px;
}

// Main Menu

.main_menu_wrap {
    display: block;
    width: 100%;
}
@media (min-width: $go_mobile) {
  .main_menu_wrap {
      width: $left_nav_width;
  }
  .main_menu_wrap_mobile {
      display: none;
  }
  .app_inner {
      // margin-left: $left_nav_width!important;
  }
}
.main_menu_left {
    background: $primary;
    width: 100%;
    min-height: 60px;
    height: $mobile_nav_height;
    position: absolute;
    top: 0px;
    left: 0px;

    ul.main_menu_nav {
        list-style: none;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    ul.main_menu_nav.--hide li a {
        display: none;
    }
    li.main_nav_link a {
        padding: 15px;
        display: block;
        color: white;
        text-decoration: none;
        background: $primary;
        transition: background 0.4s;
    }
    li.main_nav_link.--active a {
        font-weight: $bold;
        background: darken($primary, 5%);
    }
    li.main_nav_link a:hover {
        background: darken($primary, 2%);
    }
    .main_menu_account {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0px;
        background: $accent;
    }
    img.account_img {
        width: 70px;
        height: auto;
        margin-top: -35px;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    a.account_link {
        text-align: center;
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-weight: $bold;
    }
    a.account_logout {
        text-align: center;
        display: block;
        font-weight: 900;
        color: darken($primary, 50%);
        text-decoration: none;
        margin-top: 0px;
        font-size: 13px;
    }

    .mobile_nav_burger {
        display: block;
        z-index: 100;
        text-align: right;
        right: 0px;
        padding: 10px 25px;
        color: white;
        i {
            border: solid 2px $accent;
            padding: 10px 17px;
            border-radius: 5px;
            cursor: pointer;
        }
        i:hover {
            background: lighten($primary, 10);
        }
    }
}
@media (min-width: $go_mobile) {
    .main_menu_left {
        width: $left_nav_width;
        height: 100vh;

        ul.main_menu_nav.--hide li a {
            display: block;
        }
        .main_menu_account {
            position: absolute;
            width: 100%;
            height: 150px;
            bottom: 0px;
            background: $accent;
        }
        img.account_img {
            width: 70px;
            height: auto;
            margin-top: -35px;
            border-radius: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ul.main_menu_nav {
            display: block;
        }
        .mobile_nav_burger {
            display: none;
        }
    }
}
